
/*/*STYLES CONTENT/BACKGROUND*/

* {
	font-family: 'Rokkitt', serif;

}

body {
	background: url(../images/wood.jpg) repeat-y;
    background-size: 100%;
}

#main {
	margin-top: 8em;
	margin-bottom: 8em;
}

.navbar-brand {
	font-size: 2em;
}

.navbar {
	background-color: #8ca3a3 !important;
	border-color: #563f46;
}

.navbar-nav {
	font-size: 1.5em;
}

.card, .card-header {
	border-color: #563f46;
}

.card-header {
	text-align: center;
}


.footer {
	position: fixed;
    bottom: 0;
    background-color: #8ca3a3;
    width: 100%;
    height: 3em;
}

.footer p {
	margin: 0px auto;
    text-align: center;
    padding: .5em;
}

.bio {
	font-size: 1.2em;
	margin-top: 4%;
}


.portfolio-label {
	background-color: rgba(86,63,70, 0.89);
	height: 10%;
	color: white;
	font-size:23px;
	margin-top: 0;
	text-align: center;
}

.profile-pic {
	padding: 2%;
}

.form-group {
	font-size: 1.2em;

}

.card {
	margin-bottom: 3%;
}

a img {
	display: block;
	margin: 0px auto;
}

a {
	text-decoration: none !important;
}